{% extends 'community/master.html' %}
{% load static %}
{% block container %}
<div class="container" style="margin:5rem">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 >About Us</h1>
            <p>It is an online platform where a person can create one or more communities in a particular way and they can also follow any community / group if they wish. So basically the purpose of creating this community is for friends, acquaintances, or people with similar interests to discuss or share on broad or narrow topics and also spread motivation between same interested people.
            </p>
        </div>
    </div>
</div>
{% endblock %}