{% extends 'community/master.html' %}
{% load static %}
{% block container %}
<body>
<div>
    <button type="button" class="btn btn-light">
        <a href="{% url 'password_change' %}">Change Password</a>
    </button>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 pt-5 mt-5">
            <h3 class="text-info">Hello! Welcome Bhavesh Kumavat</h3>
<!--            <button type="button" class="text-right btn success"> Edit Profile</button>-->
<!--            <div class="col-lg-4">-->
<!--                -->
<!--&lt;!&ndash;                    {% if p2.picture %}&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="{{p2.picture.url}}" class="img-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;                    {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;                    <div  class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ form.picture }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ form.picture. }}&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
        </div>
    </div>
</div>
<section class="py-3">
    <div class="container">
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-4">
                    {% if p2.picture %}
                    <img src="{{p2.picture.url}}" class="img-fluid">
                    {% endif %}
                    <div  class="form-group">
                        {{ form.picture }}
                        {{ form.picture. }}
                    </div>
<!--                    <a href="/app1/profile_pic" > Update pic</a>-->
                </div>
                <div class="col-lg-8 pl-5 mt-5 text-black">
                    <h2 class="mb-3"><u>About</u></h2>
                    <div class="form-group">
                        <table style="width:90%">
                            <tr>
                                <th>Name:</th>
                                <td>	<input type="text" name="name" class="form-control" required value="{{ p2.name }}"></td>
                            </tr>
                            <tr>
                                <th>Status:</th>
                                <td><input type="text" name="status" class="form-control"  required value="{{ p2.status }}"></td>
                            </tr>
                            <tr>
                                <th>Gender:</th>
                                <td><input type="text" name="gender" class="form-control"  required value="{{ p2.gender }}"></td>
                            </tr>
                            <tr><th>Address:</th>
                                <td><input type="address" name="address" class="form-control"  required value="{{ p2.address }}"></td>
                            </tr>
                            <tr><th>Age:</th>
                                <td><input type="number" name="age" class="form-control"  required value="{{ p2.age }}"></td>
                            </tr>
                            <tr><th>Your Bio:</th>
                                <td><input type="text" name="your_bio" class="form-control"  required value="{{ p2.your_bio }}"></td>
                            </tr>
                            <tr>
                                <th>Your Facebook:</th>
                                <td><input type="text" name="your_facebook" class="form-control"  required value="{{ p2.your_facebook }}"></td>
                            </tr>
                        </table>
                        <button type="submit" id='pin' class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div class="jumbotron">
    <a href="#" class="text-center text-black"><h2>Go Back To Home</h2></a>
</div>

<style type="text/css">

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 92%;
  padding: 20px;
}

</style>



</body>
{% endblock %}